*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Solway', serif;  
}
.container{
    
    width: 50%;
    height: 500px;
    margin: auto;
    background-color: #660000;
}

/* start style of Tip_calcultor*/

.Tip_calcultor h1{
    padding: 20px;
    color: white;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
/* style of label*/
.tip_label{
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
}

/*start style of input*/
.data_input1  , .data_input2 ,  .data_input3{
    text-align: center;
}
.data_input1 input , .data_input3 input {
    
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
}
.data_input2 select{
   padding: 10px 10px;
    border: none;
    border-radius: 5px; 
}
/* end style of input*/

/* start style of add btn*/
.tipclac_btn{
    text-align: center;
    margin: 25px;
}
.tipclac_btn button{
    background-color:black;
    color: white;
   padding: 10px 20px; 
    border: none;
   border-radius: 5px; 
    transition: all 1s;
}
.tipclac_btn button:hover{
   background-color: #141f1f; 
}
/* end style of add btn*/
#result {
    text-align: center;
    width: 33%;
    height: 50px;
    color: black;
    margin: auto;
}

.data_input input{
    padding: 10px 10px;
    
    border-radius: 20px;
}